<%- include('partials/header') -%>
<div id="wrapper">
  <div class="container">
    <div class="row mt-5">
        <div class="col-lg-6">
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
                <a class="btn btn-primary" href="/">Return to main page!</a>
            </div>
            <div class="mt-5">
              <h2>Add a post</h2>
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="caption" class="form-label">Caption</label>
                  <textarea class="form-control" id="caption" name="caption"></textarea>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <div class="mb-3 d-flex form-check">
                  <label for="watermark" class="form-check-label">Would you like to add a watermark?</label>
                  <input type="checkbox" class="form-check-input ml-2" id="watermark" name="watermark" style="margin-left: .5em;">
                </div>
                <button id="submit-button-animation" type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
              <div class="mb-3">
                <span>After submitting the picture, it might take a couple of minutes for all the magic to happen. Wait 30 seconds before refreshing or hitting submit again.</span>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <ul class="row list-unstyled ">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-sm-6 mt-5">
              <a href="/">
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
              <span><%= posts[i].title %></span>
              <form class="" action="/post/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-danger fw-bold" type="submit">Delete This Post</button>
              </form>
            </li>
            <!-- <li>


            </li>
            <li>

            </li> -->
          <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/">Return to main page!</a>
          </div>  
        </div>  
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>